# Compiled class files
*.class

# Log files
*.log

# Maven directory
/.mvn
/mvnw
/mvnw.cmd

# Gradle directory
.gradle/
/build/
/out/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse project files
.project
.classpath
.settings/
.factorypath

# Spring Boot specific
target/
*.jar
*.war
*.ear

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# JUnit output
/test-logs/

# Permitir properties.yml
!properties.yml

# Ignorar todos los archivos .yml excepto properties.yml
*.yml
application-*.yml

# paquetes
.gz