# ===========================
# 🔹 Archivos compilados
# ===========================
*.class
*.jar
*.war
*.ear

# ===========================
# 🔹 Directorios de construcción
# ===========================
/target/
.build/
.out/

# ===========================
# 🔹 Dependencias de Maven y Gradle
# ===========================
/.mvn/
/mvnw
/mvnw.cmd
/.gradle/
.gradle/

# ===========================
# 🔹 Configuración de IDEs
# ===========================
# IntelliJ IDEA
/.idea/
/*.iml

# Eclipse
/.project
/.classpath
/.settings/
/.factorypath

# VS Code
/.vscode/

# ===========================
# 🔹 Archivos de logs y pruebas
# ===========================
*.log
/test-logs/

# ===========================
# 🔹 Archivos específicos del sistema operativo
# ===========================
# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*.swp

# ===========================
# 🔹 Docker y Configuración
# ===========================
!docker-compose.yml  # Permitir el archivo principal de Docker Compose
!docker-compose*.yml # Permitir variantes como docker-compose.override.yml
!.dockerignore       # Permitir el archivo .dockerignore

# ===========================
# 🔹 Spring Boot y Configuración YAML
# ===========================
!application.yml  # Permitir el archivo principal de configuración
!application-*.yml # Permitir todas las variantes de application.yml

# ===========================
# 🔹 Otros
# ===========================
*.gz # Ignorar archivos comprimidos
